*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(130,107,250);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.form{
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color:black;
    text-align: center;
    padding-bottom: 10px;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.box-1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.box input,.btn,.mob input,.dob input,.sel,.pas input{
    border: 1px solid gainsboro;
    border-radius: 5px;
    outline: none;
    height: 30px;
    text-indent: 5px;
}
.mob_dob{
    display: flex;
    gap: 10px;
}
.mob,.dob {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap:5px ;
}
.mob input, .dob input{
    width:100%;
} 
.gender{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.con_pas{
    display: flex;
    flex-direction: row;
    width:100%;
    gap:10px;
}
.sel, .pas{
    width: 50%;
}
.pas input{
    width:100%;
}
.btn{
    background-color: rgb(130,106,252);
    color: white;
}