* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    background-color: antiquewhite;
}

.rotate {
    font-size: 1.5em;
    color: rgb(255, 0, 102);
    text-shadow: 0px 2px 5px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(227, 227, 227);
}

.photograph img{
    height: 200px;
    width: 250px;
    border-radius: px;
}