* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(65, 123, 239);
}

.main-form {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

form p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding-bottom: 10px;

}

form input {
    /* width: 300px; */
    padding: 5px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    outline: none;
}

form label {
    padding: 5px;
}

.sec-1 {
    display: flex;

}

form button {
    padding: 8px;
    color: white;
    background-color: rgb(65, 123, 239);
    border: 1px solid gainsboro;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
}

.form-option{
    padding: 0;
    display: flex;
}
.form-option input {
    
    max-width: 10px;

}

.sec-2{
    display: flex;
    flex-direction: column;
}