* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('peakpx.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box {
    background-color: aliceblue;
    border-radius: 30px;

}
form{
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: center;
}
form h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(73, 139, 184) ;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}
form a{
    font-size: 17px;
    text-decoration: none;
    padding: 15px;
    color: #000;
}
form a:hover{
    color: blue;

}
form button{
    font-family:'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(150, 50, 125);
    border: 1px solid gainsboro; 
    color: #ffffff; 
    outline: none;
}
form button:hover{
    background-color: lightgray;
    color: #000;
}
form h1 {
    text-align: center;

}

form input {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    background-color: transparent;
    border: 1px solid gainsboro; 
    color: #000000;    
    outline: none;
    width: 300px;            

}

